build==1.2.1
cachetools==5.3.3
dataclasses-json==0.6.7
deepdiff==7.0.1
emoji==2.12.1
faiss-cpu==1.8.0.post1
fastapi==0.111.1
fastapi-cli==0.0.4
google-auth==2.32.0
googleapis-common-protos==1.63.2
importlib_resources==6.4.0
langchain==0.2.15
langchain-chroma==0.1.2
langchain-community==0.2.14
langchain-core==0.2.36
langchain-text-splitters==0.2.1
langdetect==1.0.9
langsmith==0.1.81
openai==1.33.0
pypdf==4.2.0
python-dotenv==1.0.1
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
requests-unixsocket==0.2.0
streamlit==1.35.0
tiktoken==0.7.0
